<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">ngPittsburgh</a>
  <form class="form-inline">
    <section class="private-buttons" [hidden]="!auth.isAuthenticated()">
      <button routerLink="/profile"
              class="btn btn-outline-success mr-2 my-sm-0 profile" type="button">View Profile</button>
      <button (click)="logout()"
              class="btn btn-outline-success my-sm-0 logout" type="button">Log out</button>
    </section>
    <button [hidden]="auth.isAuthenticated()" (click)="login()"
            class="btn btn-outline-success mr-2 my-sm-0 login" type="button">Log in</button>
  </form>
</nav>
<div style="text-align:center">
  <h1>
    Angular + Auth0!
  </h1>
</div>

<router-outlet></router-outlet>
