<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">

        <div class="card-body">
          <div class="card-title mb-4">
            <div class="d-flex justify-content-start">
              <div class="image-container">
                <img [src]="profile?.picture" id="imgProfile" class="img-thumbnail" alt="image" />
                <div class="middle">
                  <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                  <input type="file" style="display: none;" id="profilePicture" name="file" />
                </div>
              </div>
              <div class="userData ml-3">
                <h2 class="d-block">{{profile?.nickname}}</h2>
                <h6 class="d-block">{{profile?.email}}</h6>
              </div>
              <div class="ml-auto">
                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
